<!-- <nav class="navbar navbar-expand navbar-dark  bg-primary">
	<a class="navbar-brand" (click)="home()" routerLink="/home" routerLinkActive="active">Home</a>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" (click)="log()" routerLink="/login" routerLinkActive="active">Mobile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="logout()" routerLink="/logout" routerLinkActive="active">Laptop</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/tv" routerLinkActive="active">Tv</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/cart" routerLinkActive="active">MyCart</a>
			</li>
		</ul>
	</div>
</nav> -->
